.gitbut {
    height: 30px;
    width: 130px;
    background-color: black;
    color: white;
    font-size: 20px;
    border-radius: 5px;
    border-width: 0px;
}

.home-container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
}